/* Base styles */
body {
  font-family: var(--font-family-primary);
  background-color: var(--color-snow);
  margin-left: var(--spacing-xl);
  margin-right: var(--spacing-xl);
}

/* Responsive margins - Tablet and Mobile */
@media (max-width: 1080px) {
  body {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* Headings */
h1 {
  font-size: var(--text-xxl);
  font-weight: var(--fw-extra-bold);
}

h2 {
  font-size: var(--text-xl);
  font-weight: var(--fw-semi-bold);
}

h3 {
  font-size: var(--text-lg);
  font-weight: var(--fw-light);
}

/* Text styles */
p {
  font-size: var(--text-base);
}

.body-large {
  font-size: var(--text-m);
  font-weight: var(--fw-black);
}

.body {
  font-size: var(--text-base);
  font-weight: var(--fw-extra-bold);
}

.body-small {
  font-size: var(--text-s);
  font-weight: var(--fw-medium);
}

.body-light {
  font-size: var(--text-xs);
  font-weight: var(--fw-light);
}
