:root {
    /*font family*/
    --font-family-primary: 'Barlow', sans-serif;

    /*colors*/
    --color-primary-white: #FFFFFF ;
    --color-primary-black: #000000;
    --color-lemon: #d7e950;
    --color-snow: #FCF9FC;
    --color-periwinkle: #A7AEE7;
    --color-onyx: #151114;
    --color-price: #413f3f;

    /*font sizes*/
    --text-xxl: 3rem; /* 48px */
    --text-xl: 2.25rem; /* 36px */
    --text-lg: 2rem; /* 32px */
    --text-m: 1.5rem; /* 24px */
    --text-base: 1rem; /* 16px */
    --text-s: 0.75rem; /* 12px */
    --text-xs: 0.75rem; /* 12px */
    
    /*font weights*/
    --fw-black: 900; /* Barlow Black */
    --fw-extra-bold: 800; /* Barlow ExtraBold */
    --fw-semi-bold: 600; /* Barlow SemiBold */
    --fw-medium: 500; /* Barlow Medium */
    --fw-light: 300; /* Barlow Light */
    
    /*radius*/
    --radius-sm: 0.3125rem; /* 5px */
    --radius-md: 0.625rem; /* 10px */
    --radius-lg: 1.25rem; /* 20px */

    /*spacing*/
    --spacing-xs: 0.5rem; /* 8px */
    --spacing-sm: 1rem; /* 16px */
    --spacing-md: 1.5rem; /* 24px */
    --spacing-lg: 2rem; /* 32px */
}